@{
    ViewData["Title"] = "Home Page";
}
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap" rel="stylesheet">
<div class="text-center">
    <h1 class="display-4 home-title">Welcome to your Contact App</h1><br>
    <div class="form-row justify-content-center">

        <div class="col-2">
            <button type="button" class="btn btn-info btn-lg"
                    onclick="location.href='contact';" value="Go to Contacts">
                Contacts
            </button>
        </div>
        
        <div class="col-2">
            <button type="button" class="btn btn-success btn-lg"
                    onclick="location.href='contact/create';" value="Go to Create">
                Create
            </button>
        </div>

    </div>
</div>
